@font-face {
    font-family: 'Google Sans Normal';
    src: url(./fonts/GoogleSans-Regular.woff) format(woff),
        url(./fonts/GoogleSans-Regular.woff2) format(woff2),
        url(./fonts/GoogleSans-Regular.eot) format(eot),
        url(./fonts/GoogleSans-Regular.ttf) format(ttf);      
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

@font-face {
    font-family: 'Google Sans Medium';
    src: url(./fonts/GoogleSans-Medium.woff) format(woff),
        url(./fonts/GoogleSans-Medium.woff2) format(woff2),
        url(./fonts/GoogleSans-Medium.eot) format(eot),
        url(./fonts/GoogleSans-Medium.ttf) format(ttf);      
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
}

.burger-box {
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    border: 2px solid #fff;
}

.burger-menu {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    margin: auto 0;
    position: relative;
    transition: all .7s;
}

.burger-menu::before,
.burger-menu::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 20px;
    background-color: #fff;
    border-radius: 3px;
    transition: all .7s;
}

.burger-box .burger-menu.active {
    background-color: transparent;
}

@keyframes rotate-clockworth {
    0% {transform: rotate(0);}
    70% {transform: rotate(0);}
    100% {transform: rotate(45deg);}
}

@keyframes rotate-counterclockworth {
    0% {transform: rotate(0);}
    70% {transform: rotate(0);}
    100% {transform: rotate(-45deg);}
}

.burger-menu.active::before {
    top: 0;
    animation: rotate-clockworth 1s forwards;
}

.burger-menu.active::after {
    top: 0;
    animation: rotate-counterclockworth 1s forwards;
}

.burger-menu::before {
    top: -6px;
}

.burger-menu::after {
    top: 6px;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

body {
    font-family: 'Google Sans Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    background-color: #2F2F2F;
    color: #898989;
}

a {
    text-decoration: none;
    color: inherit;
}

a.active {
    color: #fff;
}

.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */

.header {
    position: fixed;
    z-index: 20;
    width: 100%;
    top: 0;
    background-color: #242424;
    padding: 18px 0;
    min-height: 80px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__menu-list {
    display: flex;
    position: relative;
}

.header__menu-item {
    min-width: 146px;
    text-align: center;
    position: relative;
}

.header__menu-item.active::after {
    position: absolute;
    bottom: -31px;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #EC8236;
}

.header__menu-item--link {
    transition: color .5s;
}

.header__menu-item.active .header__menu-item--link {
    color: #fff;
}

.header__menu-item--link:hover {
    color: #fff;
}

.header__profile {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
    position: relative;
}

.header__profile-icon {
    position: relative;
    display: none;
}

.header__profile-icon div {
    position: absolute;
    width: 10px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    transition: transform .3s;
}

.header__profile-icon div:nth-of-type(1) {
    transform: translateX(-3px) rotate(45deg);
}

.header__profile-icon div:nth-of-type(2) {
    transform: translateX(3px) rotate(-45deg);
}

.header__profile-icon.active div:nth-of-type(1) {
    transform: translateX(-3px) rotate(-45deg);
}
.header__profile-icon.active div:nth-of-type(2) {
    transform: translateX(3px) rotate(45deg);
}

.header__profile-link {
    color: #fff;
}

.header__profile-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

/* SECTIOON HEADER */

.section__header {
    margin-top: 130px;
    padding: 40px 50px;
    width: 100%;
    background-image: url(../img/section-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 218px;
    border-radius: 11px;
    position: relative;
    margin-bottom: 40px;
    z-index: -1;
}

.section__header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    border-radius: 11px;
}

.section__inner {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 30px;
}

.section__logo {
    border-radius: 50%;
}

.section__title {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
}

.section__location {
    display: flex;
    gap: 18px;
}

/* SECTION NAVIGATION */

.section__box {
    display: flex;
    gap: 60px;
}

.section__navigation {
    flex-basis: 239px;
    flex-shrink: 0;
}

.section__navigation-btn {
    color: #fff;
    padding: 9px 20px;
    display: block;
    text-align: center;
    background-color: #EC8236;
    border-radius: 3px;
    margin-bottom: 39px;
}

.section__navigation-link {
    display: block;
    min-height: 40px;
    padding: 9px 20px;
    position: relative;
}

.section__navigation-link::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #393939;
    transition: width 1s;
    z-index: -1;
}

.section__navigation-link:hover::before {
    width: 100%;
}

.section__navigation-link.active {
    color: #fff;
    background-color: #393939;
}

.section__navigation-link.active::after {
    position: absolute;
    content: '';
    width: 2px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #EC8236;
}

/* CARD LIST */

.section__cards {
    flex-basis: 938px;
    position: relative;
    /* min-height: 800px; */
}

.section__cards-title {
    font-size: 30px;
    line-height: 38px;
    color: #fff;
    margin-bottom: 20px;
}

.section__cards-search {
    width: 293px;
    height: 53px;
    padding: 22px 10px 10px 10px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    color: #fff;
    background-color: #393939;
    border: none;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 3px solid #898989;
    margin-bottom: 25px;
}

.section__cards-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    min-height: 592px;
}

.section__cards-item {
    cursor: pointer;
    width: 306px;
    min-height: 75px;
    background: #393939;
    border: 1px solid #242424;
    border-radius: 4px;
    padding: 16px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.section__cards-item:nth-last-child(1) {
    margin-right: auto;
}

.section__cards-item .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 15px;
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
}

.section__cards-item .icon::before,
.section__cards-item .icon::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background: #898989;
    transition: transform .1s linear;
}

.section__cards-item .icon::before {
    transform: translate(-50%, -50%);
}

.section__cards-item .icon::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.section__cards-item[area-expanded='true'] .icon::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.section__cards-item[area-expanded='true'] .icon::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.section__cards-item--img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.section__cards-item--title {
    max-width: 195px;
    color: #fff;
    margin-bottom: 5px;
}

.section__cards-item--subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #898989;
    padding-left: 15px;
    position: relative;
}

.section__cards-item--subtitle.alive::before,
.section__cards-item--subtitle.dead::before,
.section__cards-item--subtitle.unknown::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    left: 0;
    top: 1px;
    border-radius: 50%;
}

.section__cards-item--subtitle.alive::before {
    background-color: rgb(113, 182, 119);
}

.section__cards-item--subtitle.dead::before {
    background-color: rgb(182, 113, 113);
}

.section__cards-item--subtitle.unknown::before {
    background-color: #898989;
}

.section__cards-item--content {
    flex-basis: 100%;
    color: #fff;
    font-weight: 400;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
}

.section__cards-item--content-img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.section__cards-item--content-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #898989;
}

.section__cards-item--content-description + .section__cards-item--content-text {
    margin-top: 10px;
}


.section__cards-item[area-expanded='true'] .section__cards-item--content {
    margin-top: 10px;
    opacity: 1;
    max-height: 50em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
}

.section__cards-pages {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
    position: absolute;
    top: 70px;
    right: 0;
}

.section__cards-pages-item,
.section__cards-pages-item-prev,
.section__cards-pages-item-next {
    cursor: pointer;
    position: relative;
    border: 1px solid #898989;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.section__cards-pages-item:hover {
    background-color: #393939;
}

.section__cards-pages-item.active {
    color: #fff;
    background-color: #393939;
    border-bottom: 2px solid #EC8236;
}

.section__cards-pages-item.inactive {
    color: #000;
}

.section__cards-pages-item-prev::before,
.section__cards-pages-item-next::before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    border-bottom: 2px solid #898989;
    border-left: 2px solid #898989;
}

.section__cards-pages-item-prev::before {
    left: 60%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.section__cards-pages-item-next::before {
    left: 40%;
    transform: translate(-50%, -50%) rotate(225deg);
}

/* UNABLE */

.unable {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}

/* FOOTER */

.footer {
    margin-top: 100px;
    background-color: #242424;
    padding: 30px 0;
    min-height: 164px;
}

.footer__inner {
    display: flex;
    align-items: center;
    gap: 100px;
}

.footer__inner-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__social-list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer__document-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__document-item--link {
    transition: color .5s;
}

.footer__document-item--link:hover {
    color: #fff;
}



@media (max-width: 1270px) {
    .section__cards {
        flex-basis: unset;
    }
    .section__cards-item {
        flex-basis: calc(50% - 10px);
    }
    .section__cards-item:nth-last-child(1) {
        margin-right: unset;
    }
}

@media (max-width: 990px) {
    .header__profile-icon {
        display: block;
    }
    .header__profile-link {
        position: absolute;
        right: 0;
        padding: 15px;
        background-color: #242424;
        min-width: 160px;
        text-align: right;
        z-index: -1;
        border-radius: 0 0 10px 10px;
        opacity: 0;
        transition: transform .5s, opacity .5s;
    }
    .header__profile-link.active {
        transform: translateY(65px);
        z-index: 2;
        opacity: 1;
    }
    .section__cards-item {
        flex-basis: 100%;
    }
    .section__cards-pages {
        position: relative;
        top: unset;
        right: unset;
    }
}

@media (max-width: 767px) {
    .header__menu-list {
        position: absolute;
        flex-wrap: wrap;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 10px 20px;
        border-radius: 10px;
        right: 15px;
        top: 0;
        opacity: 0;
        transition: all .7s, z-index 0s;
        z-index: -1;
        border: 1px solid #fff;
    }
    .header__menu-list.active {
        opacity: 1;
        top: 88px;
        z-index: 11;
    }
    .header__menu-item {
        padding: 10px 0;
    }
    .header__menu-item.active::after {
        bottom: 0;
    }
    .burger-box {
        display: block;
        margin-left: auto;
    }
    .header__profile-img {
        border: 2px solid #fff;
    }
    .section__box {
        flex-direction: column;
    }
}

@media (max-width: 570px) {
    .section__title {
        font-size: 22px;
        line-height: 28px;
    }
    .section__location {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .header__menu-img {
        width: 120px;
    }
    .header__menu-list {
        flex-direction: column;
    }
    .section__inner {
        flex-direction: column;
    }
    .section__location {
        justify-content: center;
    }
    .footer__inner {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
}